<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/bulma.css">
</head>
<body>
<!-- partial:index.partial.html -->
<section class="section has-text-centered">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column has-text-left-tablet">
        MAC-Netowrk on GQA
        <br><br>
        <!-- 01 -->
        <img src="http://placehold.it/500x500?text=bear" alt="" class="active"/>
      </div>
      <div class="column has-text-left-tablet">
        <br><br>
      <textarea name="question" class="textarea" placeholder="your question" style="margin-bottom:15px; height: 300px;"></textarea>
      <textarea name="answer" class="textarea" style="margin-bottom:15px; height: 100px"></textarea>
      <input class="button" type="submit">
      </div>
    </div> 
  </div>
</section>
</body>
</html>